/** MAIN **/
.screen {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
  flex: 1;
  background-color: white;
}
.etchmachine {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #f80012;
  border-radius: 1em;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.6);
}
.etchmachine > p {
  margin: 0 auto;
  text-align: center;
  padding-top: 0%;
  padding-bottom: 10px;
  color: white;
}
.menu {
  position: absolute;
  width: 8%;
  top: 13%;
  text-align: center;
  left: 5%;
}
.menu img {
  width: 40%;
}
.canvas {
  margin: 0 auto;
  width: 80%;
  height: 550px;
  background-color: white;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.6);
}
canvas {
  border: 2px solid black;
  width: 100%;
  height: 100%;
}
.left {
  position: absolute;
  width: 8%;
  left: 5%;
  bottom: 10%;
}
.right {
  position: absolute;
  width: 8%;
  right: 5%;
  bottom: 10%;
}
.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.white_content {
  display: none;
  position: absolute;
  align-items: center;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  z-index: 1002;
  opacity: 0.8;
  background-color: white;
  border-radius: 20px;
  overflow: auto;
}
.white_content img {
  position: absolute;
  top: 35%;
  left: 35%;
  width: 30%;
}

/* only when orientation is in portrait mode */
@media all and (orientation: portrait) {
  .black_overlay,
  .white_content {
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .right {
    right: 7%;
  }
}

@media screen and (max-width: 1160px) {
  header {
    display: none;
  }
  .screen {
    width: 100%;
  }
  .back_0,
  .back_1,
  .back_2,
  .back_3,
  .back_4 {
    display: none;
  }
  .menu {
    top: 2%;
    text-align: center;
    left: 1%;
  }
  .menu img {
    width: 55%;
  }
  .etchmachine {
    padding-bottom: 10%;
  }
  .left {
    width: 7%;
    left: 0%;
    bottom: 9%;
  }
  .right {
    margin-right: 1%;
    width: 7%;
    right: 4%;
    bottom: 9%;
  }
}

@media screen and (max-width: 1024px) {
  .etchmachine {
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 885px) {
  .left,
  .right {
    width: 12%;
    bottom: 12%;
  }
  .right {
    right: 0%;
  }
  .canvas {
    height: 500px;
  }
  .etchmachine {
    padding-bottom: 150px;
  }
}

@media screen and (max-width: 825px) {
  .left,
  .right {
    bottom: 0%;
  }
  .right {
    right: 0%;
  }
  .canvas {
    height: 300px;
    width: 70%;
  }
  .etchmachine {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 815px) {
  .left,
  .right {
    bottom: 0%;
  }
  .right {
    right: 0%;
  }
  .canvas {
    height: 300px;
    width: 70%;
  }
  .etchmachine {
    padding-bottom: 19px;
  }
}

@media screen and (max-width: 736px) {
  .canvas {
    height: 290px;
    width: 65%;
  }
  .etchmachine {
    padding-bottom: 60px;
  }
  .left,
  .right {
    bottom: 0%;
  }
  .right {
    right: 4%;
  }
  .left {
    left: -1%;
  }
}

@media screen and (max-width: 650px) {
  .canvas {
    height: 290px;
    width: 65%;
  }
  .etchmachine {
    padding-bottom: 10px;
  }
  .left,
  .right {
    bottom: 0%;
  }
  .right {
    right: 4%;
  }
  .left {
    left: -1%;
  }
}

@media screen and (max-width: 570px) {
  .canvas {
    height: 250px;
    width: 60%;
  }
  .etchmachine {
    padding-bottom: 12px;
  }
  .left,
  .right {
    bottom: 0%;
  }
  .right {
    right: 6%;
  }
}

@media screen and (max-height: 280px) {
  .canvas {
    height: 200px;
    width: 70%;
  }
  .etchmachine {
    padding-bottom: 120px;
  }
  .left,
  .right {
    bottom: 0%;
  }
  .right {
    right: 3%;
  }
  .left {
    left: -1%;
  }
}
